* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  background-color: rgb(245, 245, 245);
}
.hero-head {
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.hero {
  position: relative;
  height: 70vh;
  background-image: linear-gradient(rgba(32, 15, 0, 0.5), rgba(34, 16, 0, 0.5)),
    url(meal-1.jpg);
  background-size: cover;
}
.hero-cell {
  max-width: 120rem;
  padding: 3.2rem;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

.gallary-img {
  width: 100%;
  height: auto;
  border-radius: 11px;
  margin-bottom: 1.6rem;
}
.section-garally-samples {
  max-width: 120rem;
  padding: 3.2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 4rem;
}
.img-discription {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: capitalize;
  font-style: italic;
  margin-bottom: 0.8rem;
  padding: 0 11px;
}
.gallary-discription {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0 11px 11px;
}
.gallary-cell {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.gallary-cell:hover {
  transform: translateY(-4px);
}

.testmonial-img {
  width: 100%;
  height: auto;
  border-radius: 11px;
}
.testmony {
  max-width: 90rem;
  padding: 4.4rem 3.2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 6rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 11px;
  margin-top: 5.4rem;
}
.testmony-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testmony-head {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
  text-align: center;
}
.testmony-discription {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  text-align: center;
}
.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  border-radius: 11px;
  font-size: 1.8rem;
  font-weight: 600;
  font-style: italic;
  background-color: rgb(158, 90, 0);
  color: #fff;
  transition: all 0.3s;
}

.btn:hover {
  background-color: rgb(82, 47, 1);
}

footer {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(15, 8, 0);
  margin: 1.4rem auto;
  text-align: center;
  margin-top: 3.2rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
